{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>FootballPlaysMaker</title>
  </head>

  <body style="background-color: #333;font-family: Helvetica;font-style: bold;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">FootballPlaysMaker</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home </a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lists">Lists <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        

        <a
          href="/logout"
          style="margin-left: 10px"
          class="btn btn-outline-danger my-2 my-sm-0"
          type="submit"
          >Logout</a
        >
      </div>
    </nav>
    <h3 style="color: white;text-align: center;margin-top: 50px;">{{list.list_name}}</h3>
    <div class="container" style="width: 50%;margin-top: 50px;">
    
        <input type="hidden" value="{{list.id}}" name="list_id">
        <div class="input-group input-group-lg">
            <input type="text" name="name"  placeholder="Enter Question Statement" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <br>
        <p style="color: white;">Draw Diagram here.</p>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <canvas style="height: 300px;width: 100%; border: 1px solid black;" id="canvas">
            
                    </canvas>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <br>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                     
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                          <button type="button" class="btn btn-secondary" onclick="addCircle()" >add circle</button>
                          <button type="button" class="btn btn-secondary" onclick="addText()" >add text</button>
                          <button type="button" class="btn btn-secondary" onclick="addRectangle()" >add rectangle</button>
                          <button type="button" class="btn btn-secondary" onclick="pencil()" >Pencil</button>
                        </div>
                       
                      </div>
                    
                </div>
            </div>
        </div>
        

        
        <br>
        <div class="input-group input-group-lg">
            <input type="text" name="phrase"  placeholder="Enter correct phrase" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <button type="button" value="Add" class="btn btn-primary" style="width: 100%;" onclick="createQuestion()">Add</button>
        </div>
    <br>
    <br>
    <br>

</div>
   


  <script>

    function createQuestion()
    {
      $.ajax(
      {
        url: '/createquestion',
        type: 'POST',
        data: {
          list_id: $('input[name=list_id]').val(),
          name: $('input[name=name]').val(),
          phrase: $('input[name=phrase]').val(),
          image: canvas.toDataURL(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function(data)
        {
          location.reload();
        }
      });
    }

  </script>
  

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/fabric@4.6.0/dist/fabric.min.js"></script>

    <script>
        var canvas = new fabric.Canvas('canvas', {
            isDrawingMode: false,
            height: 300,
            width: 500,
        });
        canvas.selection = false;
        function addCircle()
        {
            console.log("hello")
            var circle = new fabric.Circle({
                radius: 20,
                left: 50,
                top: 50,
               
            });
            canvas.add(circle); 
            circle.set('selectable',true);
        }
        function addText()
        {
            var comicSansText = new fabric.IText("Tap to type", {
            fontFamily: 'Halvetica',
            fontSize: 15,
            stroke: '#fff',
            });
            canvas.add(comicSansText);
            comicSansText.set('selectable',true);
        }
        function addRectangle()
        {
            var rect = new fabric.Rect({
                width: 50,
                height: 50,
                left: 50,
                top: 50,
               
            });
            canvas.add(rect);
            rect.set('selectable',true);
        }
        function pencil()
        {
            if (canvas.isDrawingMode) {
                canvas.isDrawingMode = false;
            } else {
                canvas.isDrawingMode = true;
            }
            
        }
        canvas.renderAll();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
